html {
  width: 100%;
  min-width: 100%;
}

body {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 100vh auto;
}

.o-header {
  grid-area: header;
  padding: 1.5rem;
}

.o-header h1 {
  text-align: center;
  text-transform: uppercase;
}

.o-aside {
  grid-area: aside;
  width: 120px;
}

nav {
  text-transform: uppercase;
}

.o-main {
  grid-area: main;
  width: 960px;
}

.o-footer {
  grid-area: footer;
  padding: 1rem;
  text-align: center;
  background-color: #d3d3d3;
}
